
<h1>Today's Deals!</h1><br><br>

<% deals = Deal.todays_deal %>
<% deals.each do |deal| %>
<div class="item-box"><%= deal.name %>
<% @burgers.each do |burger| %>
<% if burger.id == deal.burger_id %>
Burger: <%= burger.name %>
<% end %>
<% end %>
<%= deal.value %></div>
<% end %>
