<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<nav>
  <div class="nav-btn">
    <a href="/deals">Deals</a>
  </div>
  <div class="nav-btn">
    <a href="/joints">Joints</a>
  </div>
  <div class="nav-btn">
    <a href="/burgers">Burgers</a>
  </div>
</nav>

    <%= yield %>

  </body>
</html>
