<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  </head>
  <body>

<div class="top-nav">
    <a href="/">Home</a>
    <a href="/deals">Deals</a>
    <a href="/joints">Joints</a>
    <a href="/burgers">Burgers</a>
  </div>
</div>

    <%= yield %>

  </body>
</html>
