<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  </head>
  <body>
    <div class="main-container">
      <div class="main-area">
        <nav class="top-nav">
          <ul>
            <li class="btn1">
              <a href="/">Home</a>
            </li>
            <li class="btn2">
              <a href="/deals">Deals</a>
            </li>
            <li class="btn3">
              <a href="/joints">Joints</a>
            </li>
            <li class="btn4">
              <a href="/burgers">Burgers</a>
            </li>
          </ul>
        </nav>
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
