html {
  font-family: 'Lato';
  box-sizing: border-box;
}
body {
  background: url('/images/burger_bg_resized.jpg') no-repeat center fixed;
  background-size: cover;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* NAV BAR */
/* nav {
  overflow: hidden;
  position: absolute;
  width: 100vw;
} */
.top-nav ul {
  /* background-color: dimgrey; */
  display:flex;
  margin:0;
  /* padding: 1em 0 1em 0; */
  flex-wrap: wrap;
  justify-content: center;
}

.top-nav li {
  /* padding: 1em 1em 1em 1em; */
  font-size: 2em;
  color:white;
  flex: 1;
  display: flex;
  justify-content: center;
}

.top-nav li a {
  display: block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn1 { background-color: #9bb700; }
.btn1:hover { background-color: #7f9600; }
.btn2 { background-color: #f5bb00; }
.btn2:hover { background-color: #c99a00; }
.btn3 { background-color: #ec9f05; }
.btn3:hover { background-color: #c28305; }
.btn4 { background-color: #d76a03; }
.btn4:hover { background-color: #b05703; }

.main-area {
  margin-top: 1vh;
  width: 80vw;
  height: 95vh;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}


/* container */
.container {
  /* margin-top: 5vh; */
  display: flex;
  flex-direction: row;
  width: 80vw;
  flex-wrap:wrap;
}

.column {
  flex-direction: column;
  align-items: center;
  height: 80vh;
  /* margin-top: 10vh; */
}

.row {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.main-list {
  justify-content: flex-start;
}

.content {
  width: 40vw;
  display:flex;
  flex-direction: column;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
}

.form-btns {
  display: flex;
  flex-direction: row;
}

.map {
  width: 40vw;
  height: 60vh;
  flex:2;
}

.item {
  box-shadow: 5px 5px 5px grey;
  border:1px solid black;
  margin-bottom: 2vh;
  margin-left: 2vw;
  width: 24vw;
  height: auto;
  background-color: white;
  font-size: 18px;
  color: black;
}

.item1 {
  flex:1;
}

.show-deal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



@media only screen and (max-width: 600px) {
  .top-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .top-nav li {
    padding: 0.2em 0 0.2em 0;
    width: 50vw;
    font-size: 20px;
  }
  .top-nav li a {
    padding: 0;
  }
  .container {
    flex-wrap: nowrap;
  }
  .main-area{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
   }
  .main-list {
    flex-direction: column;
    align-items: center;
    align-self: center;
   }
   .column {
     flex-direction: column;
   }
   .main-container {
     height:auto;
   }

  .item { width: 80vw; }
  /* .container { justify-content: center;} */
  /* .container { align-items: center;} */
/* } */
