<div class="container column">
<form class="container column" action="/joints" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" value="">

  <label for="address">Address: </label>
  <input type="text" name="address" value="">

  <label for="url">Website: </label>
  <input type="text" name="url" value="">

  <input type="submit" name="" value="Submit!">
</form>
</div>
